ul{
  list-style-type:none;
  margin: 0px -40px;
}

table, td, tr{
  border: none !important;
}

.container{
  width: 900px;
  position: relative;
  margin: 0px auto;
}

.dropdown{
  float: right;
}

.avatar{
  float: left;
}

.name{
  float: left;
  margin: 10px 10px;
  font-size: 20px;
}

.title{
  float: left;
  margin: 10px 40px;
  font-size: 20px;
}
