<ion-view title="Board" id="page8">
    <ion-content padding="true" class="has-header">
        <h1 id="board-heading2" style="color:#000000;">
            Board        </h1>
        <div>
            <p>Canvas below...</p>
            <canvas></canvas>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <button id="board-button17" class="button button-positive  button-block"><a class="button button-icon icon ion-settings"></a></button>
            <button id="board-button18" class="button button-positive  button-block">Undo</button>
            <button id="board-button19" class="button button-positive  button-block">Redo</button>
<!--             </div>
            <div class="button-bar"> -->
            <button id="board-button20" class="button button-positive  button-block">Marker</button>
            <button id="board-button10" class="button button-positive  button-block">Pencil</button>
            <button id="board-button16" class="button button-positive  button-block">Eraser</button>
        </div>
    </ion-content>
</ion-view>