<ion-view title="Board"id="page8">

  <ion-nav-buttons side="right">
        <button class="button icon ion-person-stalker" ng-click="doSomething()">
        </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <h3 style="text-align:center;" >Theme or Location</h3>
        <div>
            <p>Canvas below...</p>
            <canvas></canvas>
        </div>
        <div class="bar bar-footer">
          <div class="button-bar">
            <button ng-click="doSomething1()" class="button button-positive icon ion-android-color-palette">
            </button>
            <button ng-click="doSomething2()" class="button button-positive icon ion-ios-undo"></button>
            <button ng-click="doSomething3()" class="button button-positive icon ion-ios-redo"></button>
            <button ng-click="doSomething4()" class="button button-positive icon ion-paintbrush"></button>
            <button ng-click="doSomething5()" class="button button-positive icon ion-edit"></button>
            <button ng-click="doSomething6()" class="button button-positive icon ion-ios-close"></button>
          </div>
        </div>
    </ion-content>
</ion-view>
