<ion-view title="Create Board" id="page7">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <form class="list">
            <label class="item item-input" name="boardName">
                <span class="input-label">Name of Board</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox name="feature1">Feature 1</ion-checkbox>
            <ion-checkbox name="feature2">Feature 2</ion-checkbox>
            <ion-checkbox name="feature3">Feature 3</ion-checkbox>
        </form>
        <form class="list"></form>
        <a ui-sref="board" id="createBoard-button13" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Create Board!</a>
        <!-- <button ui-sref="board" id="createBoard-button13" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Create Board!</button> -->
    </ion-content>
</ion-view>
