<ion-view title="Main" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="main-heading1" style="color:#000000;text-align:center;">Welcome back!</h1>
    <div class="list card">
      <div class="item item-divider">Your Profile</div>
      <ion-list>
        <ion-item class="item-thumbnail-left">
          <img src="img/CjEAbdLvT5WIdpIyWQxn_profile.gif">
          <h2>{Username}</h2>
          <p>+'s'</p>
        </ion-item>
      </ion-list>
      <a ui-sref="myProfile" id="main-button12" class="button button-stable  button-block">View Profile</a>
    </div>
    <div class="list card">
      <div class="item item-divider">Boards Near You</div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="img/starbucks.jpg">
            <h2>Title</h2>
            <p>Item</p>
          </ion-item>
        </ion-list>
        <button id="main-button14" class="button button-stable  button-block">View More</button>
      </div>
    </div>

    <button ui-sref="createBoard" id="main-button11" class="button button-balanced  button-block">Create New Board</button>

    <div class="list card">
      <div class="item item-divider">Featured Boards</div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="img/fredonia.jpg">
            <h2>Title</h2>
            <p>Item</p>
          </ion-item>
        </ion-list>
        <button id="main-button15" class="button button-stable  button-block">View More</button>
      </div>
    </div>
  </ion-content>
</ion-view>
