<link rel="stylesheet" href="css/main.css">
<ion-view title="Main" id="page6">
  <ion-content padding="true" class="has-header">

      <div class="list card">
        <div class="item item-divider">Profile</div>
        <div class="item item-body">
          <ion-list>
            <h2 style="left:15px;" class="ui header">
                <img  src="img/profilepic.png" class="ui center aligned circular image">
                <div class="content">
                  Username
                  <div class="sub header">Fredonia, NY</div>
                </div>
            </h2>

            <div ui-sref="myProfile" class="ui center button" style="width:100%;">
                View Profile
              </div>
          </ion-list>

        </div>
      </div>

    <div class="list card">
      <div class="item item-divider">Boards Near You</div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="img/starbucks.jpg">
            <h2>Title</h2>
            <p>Item</p>
          </ion-item>
        </ion-list>
        <div  class="ui center button" style="width:100%;">
            View More
          </div>
      </div>
    </div>


    <div ui-sref="createBoard" style="width:100%;" class="ui big teal labeled icon button">
    Create New Board
    <i class="add icon"></i>
    </div>
    <div class="list card">
      <div class="item item-divider">Featured Boards</div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="img/fredonia.jpg">
            <h2>Title</h2>
            <p>Item</p>
          </ion-item>
        </ion-list>

        <div  class="ui center button" style="width:100%;">
            View More
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
