<ion-view title="My Profile" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">{{firstName}} {{lastName}}</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" ui-sref="moreInformation">
                        <img src="img/CjEAbdLvT5WIdpIyWQxn_profile.gif">
                        <h2>{{username}}</h2>
                        <p>Fredonia, NY</p>
                    </ion-item>
                </ion-list>
                <button id="myProfile-button6" class="button button-positive  button-block">Edit Profile</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Recent Boards</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/4mbMHu1mRhqe3X46xvme_board1.jpg">
                        <h2>Board 1</h2>
                        <p>Location Data</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/zm0qStz7TCawzLHySOvg_board2.jpg">
                        <h2>Board 2</h2>
                        <p>Location Data</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/yrAvrgoxQrWaHAqexgHO_board3.jpg">
                        <h2>Board 3</h2>
                        <p>Location Data</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
