<html>
  <head>
      <meta charset="utf-8">
      <title></title>
      <!-- semantic-ui -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body ng-app="app">
      <ion-view title="Register" id="page2">
          <ion-content padding="true" class="has-header">
              <form class="list">
                  <ion-list>
                    <div class="ui input focus" style="width:100%">
                      <input type="text" placeholder="Name">
                    </div>

                    <div class="spacer" style="height: 5px;"></div>

                    <div class="ui input focus" style="width:100%">
                      <input type="email" placeholder="Email">
                    </div>

                    <div class="spacer" style="height: 5px;"></div>

                    <div class="ui input focus" style="width:100%">
                      <input type="tel" placeholder="Phone #">
                    </div>

                    <div class="spacer" style="height: 5px;"></div>

                    <div class="ui input focus" style="width:100%">
                      <input type="text" placeholder="Username">
                    </div>

                    <div class="spacer" style="height: 5px;"></div>

                    <div class="ui input focus" style="width:100%">
                      <input type="password" placeholder="Password">
                    </div>

                    <div class="spacer" style="height: 5px;"></div>

                    <div class="ui input focus" style="width:100%">
                      <input type="password" placeholder="Repeat Password">
                    </div>

                  </ion-list>
                  <div class="spacer" style="height: 50px;"></div>
                  <button id="register-button3" class="positive ui button button-stable  button-block">Sign up</button>
              </form>
          </ion-content>
      </ion-view>
    </body>
</html>
