<link href="css/register.css" rel="stylesheet">
<ion-view title="Create An Account" id="page2">
    <ion-content padding="true" class="has-header" scroll="false">
      <p>Hello!<br>Welcome to</p>
      <img src="img/logo.png" class="register_logo">
        <form class="list">
            <ion-list>
              <div class="ui input icon">
                <input type="text" placeholder="Name">
              </div>
              <div class="ui input icon">
                <input type="email" placeholder="Email">
              </div>
              <div class="ui input icon">
                <input type="tel" placeholder="Phone">
              </div>
              <div class="ui input icon">
                <input type="text" placeholder="Username">
              </div>
              <div class="ui input icon">
                <input type="password" placeholder="Password">
              </div>
              <div class="ui input icon">
                <input type="password" placeholder="Confirm Password">
              </div>
            </ion-list>
            <button id="register-button3" class="ui green basic button button-positive button-block">Register <i class="btn-icons angle right icon"></i></button>
        </form>
    </ion-content>
</ion-view>
